<h1 class='routes'>Predictions in minutes</h1>

  <h3>for the <%= params[:route] %> at the <%= @stop_name %> stop</h3>

  <ul>
  <% @predictions.each do |prediction| %>
    <li><%= prediction['Minutes'] %></li>
  <% end %>
  </ul>

<div class="prediction">
<%= link_to 'Back to Home', bus_routes_path %>
</div>
