<h1>Predictions in minutes</h1>

  <h3>for the <%= params[:route] %> heading towards <%= @stop_name %></h3>

  <ul>
  <% @predictions.each do |prediction| %>
    <li><%= prediction['Minutes'] %></li>
  <% end %>
  </ul>

<div class="link_back">
<%= link_to 'Back to Home', root_path %>
</div>
