// font-family: 'Lobster', cursive;
// font-family: 'Monofett', cursive;
// font-family: 'Raleway Dots', cursive;

body {
  background: asset-url('WMATA_Metrobus_stop_marker.jpg', image) no-repeat center center fixed;
  background-size: cover;
  filter: opacity(.5);
  font-family: 'Helvetica', sans-serif;
  font-size: 14px/1.4em;
}

.header {
  background: rgba(255,255,255,0.85);
  box-sizing: border-box;
  height: 75px;
  margin: 0 auto;
  padding: 10px 10px 0px;
  position: fixed;
  text-align: justify;
  text-decoration: none;
  top: 0;
  width: 100%;

  .title {
    color: black;
    display: inline-block;
    font-size: 70px;
    font-family: 'Monofett', cursive;
    float: left;
    position: relative; top: -10px;
    text-align: left;
    text-decoration: none;
  }

  form {
    float: right;
    position: relative; top: 5px;
    font-family: 'Lobster', cursive;
    
    input[type="submit"] {
      background-color: rgba(255,0,0,0.85);
      border: 1px solid darken(blue, 50);
      color: #fff;
      font-family: 'Raleway Dots', cursive;
      font-size: 10px;
      font-weight: bolder;
      padding: 0;
      height: 20px;
      width: 75px;
    }
  } 
}

.container {
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Raleway Dots', cursive;
  margin: 20px;
  width: 800px;
}

.main {
  //border: 1px solid red;
  background-color: rgba(255,255,255,0.90);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .35);
  margin: 100px auto 50px;
  overflow: auto;
  padding: 10px;
  width: 800px;
}
.main form {
  input[type="submit"] {
      background-color: rgba(255,0,0,0.85);
      border: 1px solid darken(blue, 50);
      color: #fff;
      font-family: 'Raleway Dots', cursive;
      font-size: 10px;
      font-weight: bolder;
      padding: 0;
      height: 20px;
      width: 75px;
    }
}

.main h1 {
  color: black;
  font-family: 'Raleway Dots', cursive;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 0px;
  text-align: left; 
}

.main h2 {
  color: black;
  font-size: 65px;
  font-weight: bolder;
  font-family: 'Raleway Dots', cursive;
  padding: 10px 0px;
}

.main h3 {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Raleway Dots', cursive;
  padding: 10px 0px;
}

.main ul {
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Raleway Dots', cursive;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.main ul li {
  display: inline;
  font-size: 40px;
  margin: 10px;
  padding: 5px 0;
}

.main ul li:after {
  content: ",";
}

.main ul li:last-child:after {
  content: "";
}

.main a {
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Raleway Dots', cursive;
}

.link {
  background-color: white;
  border: 1px solid black;
  color: black;
  margin: 10px 0px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 250px;

  a {
    text-decoration: none;
  }
}


.col {
  float: left;
  width: 48%;

  select {
    background-color: rgba(0,31,88,0.85);
    color: white;
    font-family: 'Raleway Dots', cursive;
    font-size: 18px;
    font-weight: bolder;
    display: block;
    width: 100%;
  }

  input[type="submit"] {
    background-color: rgba(255,0,0,0.85);
    border: 1px solid darken(blue, 50);
    color: #fff;
    font-family: 'Raleway Dots', cursive;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px 0;
    width: 100%;
  }
}

.dir-1 {
  margin-right: 4%;
}
